.actions {
  padding: 24px 0;
  @media screen and (min-width: $desktop) {
    padding: 32px 0;
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__btn {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 50%;
    color: var(--color-primary);
    background-color: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover {
      background-color: var(--color-accent);
      .actions__icon {
        fill: var(--color-background);
      }
      .actions__dot {
        background-color: var(--color-background);
      }
    }
    @media screen and (min-width: $desktop) {
      width: 59px;
      height: 59px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--color-primary);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: $desktop) {
      width: 22px;
      height: 22px;
    }
  }

  &__dot {
    width: 3px;
    height: 3px;
    margin: 0 1px;
    border-radius: 50%;
    background-color: var(--color-primary);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}