.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 19px 0;
  background-color: rgba($color: #000000, $alpha: 0.5);

  &__content {
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}