.hero {
  height: 434px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 32px 0;
  background-image: url('../images/hero/mobile-1x.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/hero/mobile-2x.webp');
  }

  @media screen and (min-width: $tablet) {
    padding: 32px;
    align-items: start;
    background-image: url('../images/hero/tablet-1x.webp');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/hero/tablet-2x.webp');
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 50px;
    background-image: url('../images/hero/desktop-1x.webp');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/hero/desktop-2x.webp');
    }
  }

  &__title {
    margin: 16px 0;
    @extend %title-typografy;
    @media screen and (min-width: $desktop) {
      margin: 24px 0;
    }
  }

  &__text {
    @extend %hero-typografy
  }

  &__text--colored {
    color: var(--color-secondary);
  }
}