@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "./global/normalize";
@import "./global/root";
@import "./global/breakpoints";
@import "./global/typografy";
@import "./components/header";
@import "./components/user";
@import "./components/container";
@import "./components/nav";
@import "./components/hero";
@import "./components/actions";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: var(--color-primary);
  background-color: var(--color-background);
}

main {
  flex-grow: 1;
}